<div class="todo__item">
    <div class="todo__header"></div>
    <div class="todo__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga saepe debitis distinctio quos, similique numquam accusantium, iure odio molestiae delectus blanditiis adipisci. Quia debitis nemo ea aliquam! Deserunt, accusamus architecto!
        Ratione iste distinctio ab perferendis quia repudiandae, itaque impedit provident ea dicta ullam quam laboriosam cum quod odio velit suscipit facilis sed porro mollitia obcaecati. Temporibus omnis commodi ut possimus!
        Alias delectus voluptas temporibus voluptate inventore nihil voluptates, itaque facilis dolorum, distinctio quo in ducimus ipsum animi adipisci eveniet quibusdam aut et obcaecati possimus optio dolore eius labore nostrum! Earum?
        Nesciunt dolores odio, rerum molestiae, eaque fugit laborum dolor ipsa quis enim fugiat? Nulla quisquam sapiente optio magni. Minima expedita enim suscipit harum asperiores tempora ab itaque necessitatibus commodi magnam!
        Sit nisi asperiores qui beatae, blanditiis nesciunt voluptate nam quasi dolor aspernatur repellendus debitis dolorem inventore expedita eum nemo aperiam exercitationem quo, suscipit ex! Accusamus, itaque! Ipsum quibusdam amet vel!
    </div>
</div>
